body { background-image:url('./images/indexbg.png') ;
    text-align: center;
}

a:link { text-decoration: none; color:dodgerblue;}
a:visited { text-decoration: none; color: rgb(139, 139, 139);}

#login1 {
text-align: right;
color: rgb(48, 47, 47);
margin: 5px;
}

#login2 {
text-align: right;
color: rgb(0, 0, 0);
font-size: 12px;
margin: 11px;
}

h2 {
text-align: center;
font-size: 40px;
color: rgb(255, 217, 91);
font-weight: bold;
}

#table2, #table3 {color: papayawhip; 
background-color: papayawhip;
}
#tr1, #tr2 {color: rgb(255, 211, 141); 
background-color: rgb(255, 211, 141);    

}

.hl {
text-align: center;
width: 250px;
}
@font-face {
font-family: 'GmarketSansMedium';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
font-weight: normal;
font-style: normal;
}

body.gmarket {font-family:'GmarketSansMedium' ;}

#mediaquery {
border: 1px;
margin: 0 auto;
margin-top: 20px;
padding: 20px;
background-color: bisque;
width: 100px;
}