body { background:url('./images/hene.png') no-repeat center ;
    background-size: cover;
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: 'MaplestoryOTFLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#result {
    font-size: 40px;
    font-weight: 900;
    margin: 0 auto;
}

body {font-family:'MaplestoryOTFLight';}

#login1 {
text-align: right;
color: rgb(48, 47, 47);
margin-right:20px;
padding: 0px;
margin-bottom: 0px;
}

#login2 {
text-align: right;
color: rgb(0, 0, 0);
font-size: 15px;
margin-right: 25px;
margin-top: 0px;
}

h2 {
text-align: center;
font-size: 40px;
color: rgb(255, 217, 91);
font-weight: bold;
}

#menu {
    float: right;
    width: 430px;
    background-color: antiquewhite;
    opacity: 0.9;
    border-radius: 20px;
    margin-right: 20px;
}

#menu > ul {
    list-style: none;
    padding: 10px;
    margin: 0 auto;
}

#menu > ul > li {
    display: inline-block;
    margin: 12px 10px
}

#main {
    width: 100%;
    height: 100%;
}
#main > div {
    position: relative;
    display: flex;
    flex-wrap:wrap;
}

a { text-decoration: none;;}
a:link  { color:rgb(207, 18, 18);} 
a:hover { color: rgb(255, 217, 0);}
a:active { color: greenyellow;}



#monster1 {
    position: absolute;
    left: 80%;
    top: 490px;
    animation: moving1 10s infinite;
}

#monster2 {
    position: absolute;
    left: 80%;
    top: -300px;
    animation: moving2 15s infinite;
}

#monster3 {
    position: absolute;
    left: 0%;
    top: 0px;
    animation: moving3 50s infinite;
}
#monster4 > img
{
    width: 100px;
}

#monster4 {
    position: absolute; 
    left: 10%;
    top: -100px;
    animation: moving4 30s infinite;

}

#monster5 > img
{
    width: 700px;
    position: absolute;
}

#monster5 {
    left: 600px;
    top: 90px;
}

#person > img {
    width: 250px;
    position: absolute;
}

#person {
    left: 70%;
    top: 530px;}

@keyframes moving1 {
    from{
        left: 80%;
        top: 485px;
        transform: scale(1);
    }
    25% {
        left: 75%;
        top: 465px;
        transform: scale(1.1);
    }
    50% {
        left: 60%;
        top: 450px;
        transform: scale(1.2);
    }
    75% {
        left: 45%;
        top: 430px;
        transform: scale(1.4);
    }
    100% {
        left: 30%;
        top: 420px; 
        transform: scale(1.5);
    ;
    }
}

@keyframes moving2 {
    from {
        left: 80%;
        top: -300px;
    }
    25% {
        left: 60%;
        top: -200px;
    }
    50% {
        left: 40%;
        top: -100px;
    }
    75% {
        left: 20%;
        top: -200px;
    }
    100% {
        left: 0%;
        top: -300px;
    }
}



@keyframes moving3 {
    from{
        left: -10%;
    }
    100% {
        left: 100%;
    }
}





@keyframes moving4 {
    from{
        left: 10%;
        top: -100px;;
        transform: scale(1);
    }
    25% {
        left: 40%;
        top: -115px;
        transform: scale(1.3);
    }
    50% {
        left: 70%;
        top: -125px;
        transform: scale(1.5);
    }
    75% {
        left: 100%;
        top: -140px;
        transform: scale(1.75);
    }
    100% {
        left: 130%;
        top: -155px; 
        transform: scale(2);
    ;
    }
}
