body { background:url('../images/hene.png') no-repeat center ;
    background-size: cover;
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: 'MaplestoryOTFLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}