body { background-color: rgb(156, 156, 255);}
table {color: oldlace; border: dimgray;}
p { color: oldlace; font-size: 20px;}
h2 { color: oldlace; font-size: 30px;}
#back { color: oldlace; font-size: 20px}